/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 *
/*
 * Examples
 * (To see them, uncomment and save)
 */
// style the background color of the tree view
.tree-view {
    // background-color: whitesmoke;
}
// style the background and foreground colors on the atom-text-editor-element itself
atom-text-editor {
    // color: white;
    background-color: #101112;
}
atom-text-editor.editor .wrap-guide {
    visibility: hidden;
}
// To style other content in the text editor's shadow DOM, use the ::shadow expression
atom-text-editor.editor .cursor {
    //border-color: red;
}

// Custom LESS
atom-text-editor.editor .gutter {
    background-color: #0e1316;
}
atom-text-editor.editor .selection .region {
    background-color: #6e7376;
}
.header.list-item.seti-compact {
    border-bottom: #3A3E40 solid 1px;
}
atom-panel-container.left, atom-panel-container.right {
  font-size: 85%;
  .list-item {
    &:hover {
      opacity: 0.7;
      cursor: pointer;
      //background-color: #25292b;
    }
  }
}
atom-pane {
  &.pane {
    opacity: 0.6;
    &.active {
      opacity: 1;
    }
  }
}

.terminal-plus .xterm {
  background-color: #101112;
}

status-bar {
    font-size: 12px;
    a.inline-block {
        color: #d4d7d6 !important;
    }
}

// Atom-clock plugin
#atom-clock {
    .icon-clock {
        color: #519aba;
        &::before {
        color: #519aba;
        }
    }
}

// Spotify plugin
.spotify-container {
  color: #1ED760;
  padding-left: 10px;
  .track-info {
    //font-size: 12px;
    font-family: -apple-system, helvetica neue;
    //letter-spacing: 0.5px;
    padding-left: 5px;
  }
}
